{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
<div id = "wrapper">
    <div id = "page-wrapper">
        <div class = "container-fluid">
            <div class = "row">
                <div class = "col-lg-12">
                    <h1 class = "page-header">
                        Add an Author
                    </h1>
                </div>
                <div class = "col-xs-6">
                    {% for message in app.flashes('add_author_success') %}
                        <div class = "alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <a href="{{ path('main_page') }}"><button class="btn-primary btn">Go Back</button></a>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
                {% if authors is not empty %}
                <div class = "col-xs-6">
                    <table class = "table table-bordered table-hover">
                        <thead>
                            <th>Author name</th>
                        </thead>
                        <tbody>
                        {% for author in authors %}
                            <tr>
                                <td>{{ author.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}