{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
<div id = "wrapper">
    <div id = "page-wrapper">
        <div class = "container-fluid">
            <div class = "row">
                <div class = "col-lg-12">
                    <h1 class = "page-header">
                        List of Books
                    </h1>
                </div>
                {% if books is not empty %}
                <div class = "col-lg-6">
                    {% for message in app.flashes('edit_book_success') %}
                        <div class = "alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('delete_book_success') %}
                        <div class = "alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <table class = "table table-bordered table-hover">
                        <thead>
                        <th>Book ID</th>
                        <th>Book name</th>
                        <th>Date of publishment</th>
                        <th>Author</th>
                        </thead>
                        <tbody>
                        {% for book in books %}
                            <tr>
                                <td>{{ book.id }}</td>
                                <td>{{ book.name }}</td>
                                <td>{{ book.dateOfPublish|date("Y/m/d") }}</td>
                                <td>{{ book.getAuthorId().name}}</td>
                                <td><a href="{{ path('edit_a_book', {book_id: book.id}) }}">Edit this book</a></td>
                                <td><a href="{{ path('delete_a_book', {book_id: book.id}) }}">Delete this book</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ path('add_an_author') }}">Add a new Author</a><br>
                    <a href="{{ path('add_a_book') }}">Add a new Book</a><br>
                </div>
                {% else %}
                    <div class = "alert alert-success alert-dismissible">
                       There are no books in the library right now.<br>
                        You can <a href="{{ path('add_a_book') }}">add some</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}